<% provide(:title, "Home") %>
<html>
    <head>

    </head>
    <body>
            <style>
            body{ background-coler: #ccc}
        </style>
        <div class="center jumbotron">
            <%= link_to "sign up", signup_path %>
            <p>
            </p>
        </div>
        <div class="center jumbotron">
            <p>
                test page
                <a href="https://www.youtube.com/watch?v=B3UM8TizqYQ">すきな音楽</a>
                はこちらです
            </p>
        </div>


    </body>
</html>