<% provide(:title, "Home") %>
<html>
    <head>

    </head>
    <body>
            <style>
            body{ background-coler: #ccc}
        </style>
        <div class="center jumbotron">
            <p>
                <%= link_to "sign up", signup_path %>
            </p>
            <p>
                <%= link_to "部署登録", bushos_path %>
            </p>
            <p>
                <%= link_to "委員会登録", committees_path %>
            </p>
        </div>


    </body>
</html>