@import "bootstrap-sprockets";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

  /* header */

header {
  width: 100%;
  background-color: rgba(34,49,52,0.5);
  position: fixed;
  top: 0;
  z-index: 10;  
}

  .header-right {
    margin-right: 5px;
    color: #fff;
  }

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;

  }

  /* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
      color: #555;
      &:hover{
          color: #222;
      }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
        float: left;
        margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
/* 要修正 */

.body-common{
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  padding-top: 80px;

}

body {
}


/* home */
.signup {
  background-color: #239b76;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}
