<div id="<%= dom_id busho %>">
  <%
=begin%>
 <p>
    <strong>Busho no:</strong>
    <%= busho.busho_no %>
  </p> 
<%
=end%>

  <p>
    <strong>Busho name:</strong>
    <%= busho.busho_name %>
  </p>

</div>
